

header, footer, section, aside {
    border: solid #444 1px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.clearfloat {
    clear:both;
}

header, footer {
    height:200px;
}

section, aside {
    float:left;
    height:250px;    width:50%;

}

#rob {
    background: url('https://img1.etsystatic.com/102/0/7351167/il_340x270.932081763_c9el.jpg') no-repeat center/60% 100%;
    /*background-position: -50% auto;*/
    /*background-size:cover;*/
}
