

header, footer, section, aside {
    border: solid #444 1px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#andrew {
  text-align: center;
  color: pink;
  background-color: purple;
}


.clearfloat {
    clear:both;
}

header, footer {
    height:200px;
}

aside {
    float:left;
    height:250px;
    width:50%;
}

section {
  background-color: purple;
  float: left;
  width: 50%;
  height: auto;
}

section h2 {
  color: blue;
  background-color: green;
  padding: 20px;
  text-decoration-style: double;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

section img {
  overflow: auto;
  display: inline-block;;
}

section p {
  padding: 20px;
  font-family: sans-serif;
  color: orange;
  float: left;
  display: inline-block;
}

#rob {
    background: url('https://img1.etsystatic.com/102/0/7351167/il_340x270.932081763_c9el.jpg') no-repeat center/60% 100%;
    /*background-position: -50% auto;*/
    /*background-size:cover;*/
}
